@font-face {
  font-display: swap;
  font-family: "Gorditas";
  src: url(~@/assets/fonts/Gorditas-Regular.ttf);
}
@font-face {
  font-display: swap;
  font-family: "Humming";
  src: url(~@/assets/fonts/Humming.otf);
}
@font-face {
  font-display: swap;
  font-family: "FinkHeavy";
  src: url(~@/assets/fonts/FinkHeavy.ttf);
}
.fullwidth-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#app {
  background-image: url(~@/assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  font-family: "Humming", cursive, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  @media screen and (max-width: 767px) {
    background-image: url(~@/assets/mobile_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  transition: .125s;
  opacity: 0;
  z-index: 0;
  &.display {
    opacity: 1;
    z-index: 1;
  }
  &.hide {
    pointer-events: none;
  }
}
body {
  margin: 0;
  cursor: url(~@/assets/cursor.png) 8 8, auto;
}
/* Heading.vue */
.stuff {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 720px;
  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    margin-top: -40%;
    overflow: hidden;
  }
}
.main-content {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 22px;
  position: relative;
  @media screen and (max-width: 767px) {
    min-height: 330px;
    min-width: 260px;
    overflow: hidden;
    .arrow-down {
      z-index: 15;
      position: absolute;
      height: 15px;
      width: 15px;
      border-right: 4px solid #222;
      border-bottom: 4px solid #222;
      border-radius: 5px;
      transform: rotateZ(45deg) translate(-50%, 0px);
      bottom: 10px;
      left: 50%;
      animation: hoverUpDown 2.5s infinite;
    }
  }
}

@keyframes hoverUpDown {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes iconHover {
  0% {
    top: 55%;
  }
  50% {
    top: 48%;
  }
  100% {
    top: 55%;
  }
}

.header {
  position: relative;
  width: 60%;
}

h1,
h3 {
  font-family: "FinkHeavy", "Gorditas", cursive;
  width: 100%;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  @media screen and (max-width: 767px) {
    font-size: 2em;
  }
}

.custom-button {
  border-radius: 22px;
  padding: 20px 25px;
  min-width: 150px;
  margin: 5px;
  background-color: #70A1D7;
  color: #fff;
  
  font-size: 1.5em;
  transition: 0.25s;
  position: relative;
  user-select: none;
  &.large {
    width: 115px;
    height: 45px;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      height: auto;
      min-height: 50px;
    }
  }
  &.mini {
    padding: 10px 0;
    width: 25%;
    font-size: 1em;
    outline: none;
  }
  &:hover {
    background-color: #a7cffc;
    color: #222;
  }
  &.active {
    background-color: #a7cffc;
    color: #222;
  }
  @media screen and (max-width: 767px) {
    border: none;
    width: 75px;
    height: 75px;
    min-width: 75px;
    padding: 0;
    background-color: #70A1D7;
    &.mini {
      padding: 0;
      &:hover {
        background-color: #A1DE93;
      }
    }
    &.active {
      background-color: #A1DE93;
      .icon-image {
        animation: iconHover 2.5s infinite;
      }
    }
    &:hover {
      background-color: #A1DE93;
    }
  }
}

button.custom-button.mini {
  @media screen and (max-width: 767px) {
    height: 45px;
    margin-bottom: 25px;
  }
}

.importexport {
  position: absolute;
  background-color: #70A1D7;
  border-radius: 45px;
  z-index: 0;
  top: 20%;
  left: -150px;
  opacity: 0;
  transition: .25s;
}

.overlay {
  &.hide {
    ~.nook-phone-apps {
      &.one {
        z-index: 0;
      }
      &.two {
        z-index: 0;
      }
    }
  }
  &.display {
    ~.nook-phone-apps {
      .importexport {
        opacity: 1;
        z-index: 5;
        &.one {
          top: 50%;
          left: 40%;
        }
        &.two {
          top: 30%;
          left: 25%;
        }
      }
    }
  }
}

.time-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: .6;
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: rgba(255,255,255,.9);
}

.langSwitcher {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 2;
  top: 25px;
  transition: .25s;
  transform: scaleY(0);
  transform-origin: top;
  &.open {
    transform: scaleY(1);
  }
  .lang {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(22,22,22,.1);
    }
  }
}
.desktop-lang-switcher {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  cursor: url(~@/assets/cursor.png) 8 8, auto;
  user-select: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .lang-switcher {
    transition: .5s;
    transform: scale(1);
    transform-origin: top;
    &.closed {
      transform: scaleY(0);
    }
  }
}

.control-bar {
  position: relative;
  .phone-head {
    margin: 1em 0;
  }
  .arrow-back {
    height: 10px;
    width: 10px;
    top: 4px;
    border-left: 5px solid #222;
    border-bottom: 5px solid #222;
    position: absolute;
    transform: rotateZ(45deg);
    border-radius: 5px;
  }
}

.select-container, div.settings, .nook-phone-main {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    left: 50%;
    top: 0;
    width: 80%;
    padding: 0 50px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    .nook-phone-apps {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .icon-image-container {
      height: 75px;
      width: 75px;
      position: relative;
      .icon-image.globe {
        height: 64px;
        width: 64px;
        transition: .5s;
        transform: translate(-50%, -50%) rotateZ(0deg);

      }
      &.sh {
        .icon-image.globe {
          transform: translate(-50%, -50%) rotateZ(180deg);
        }
      }
    }
    .icon-image {
      height: 75px;
      width: 75px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      &.imexport-image {
        height: 45px;
        width: 45px;
        transform: translate(-52%,-50%);
      }
    }
  }
}

.import-code {
  transition: .25s;
  width: 60%;
  z-index: 0;
  pointer-events: none;
  #import-export {
    background-color: #70A1D7;
    color: #fff;
    border: none;
  }
  &.active {
    color: #222;
    z-index: 3;
    pointer-events: all;
  }
  @media screen and (max-width:767px) {
    color: #222;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wip {
  pointer-events: none;
}
.WIP {
  position: absolute;
  background-color: #222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-17deg);
  width: 200px;
}
.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  label {
    width: 100%;
  }
  input {
    min-width: 200px;
    max-width: 500px;
    width: 50%;
  }
}
.error {
  width: 100%;
  color: red;
  background-color: #fff;
  border-radius: 22px;
  transition: .125s;
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 20px;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    animation: fadeout .5s forwards;
    animation-delay: 1.5s;
  }
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  &.open {
    .form {
      transform: scaleY(1);
      max-height: 500px;
    }
  }
  .form {
    max-width: 500px;
    width: 75%;
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scaleY(0);
    max-height: 0px;
    transition: .5s;
    label {
      width: 100%;
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input, textarea {
        padding: 5px;
        font-size: 1em;
        min-width: 60%;
        font-family: "Roboto";
        max-width: 165px;
      }
    }
  }
}

.nook-phone{
  &-main {
    transition: .5s;
    position: absolute;
    z-index: 1;
    transform: translate(-50%);
    &.hide {
      left: -500px;
    }
    &.show {
      left: 50%;
    }
  }
  &-secondary {
    .feedback {
      .form {
        transform: scaleY(1);
        max-height: initial;
        input, textarea {
          border: none;
        }
      }
    }
    position: absolute;
    transition: .5s;
    transform: translate(-50%);
    &.hide {
      left: 500px;
    }
    &.show {
      left: 50%;
    }
    
  }
}


@media screen and (max-width: 767px) {
  .select-container {
    flex-wrap: wrap;
  }
  .header {
    width: 85%;
  }
}
/* Content.vue */
.display-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hide-caught-uncaught-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.table-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.data-table {
  min-width: 55%;
}
@media screen and (max-width: 1330px) {
  .data-table {
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .data-table {
    width: 100%;
  }
}
.menu {
  width: auto;
  padding: 25px;
  margin: 27px 0;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.7);
  h3 {
    font-size: 1.8em;
  }
  @media screen and (max-width: 767px) {
    border: none;
    border-radius: 0;
    width: 100%;
  }
}
tr {
  height: 35px;
  
}
.header-row {
  background-color: rgba(247, 244, 139, 1);
  color: #222;
}
.content-row {
  transition: 0.25s;
}
.content-row:nth-child(even) {
  background-color: #a7cffc;
}
.content-row:nth-child(odd) {
  background-color: #70A1D7;
}
.content-row.caught {
  background-color: #b5ff9e;
}

.sortby {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 15px 0;
}
.mini-button {
  padding: 0 15px;
  
  user-select: none;
}
.mini-button:hover {
  color: #70A1D7;
}
.month-row {
  margin-top: 15px;
}
.active {
  color: #70A1D7;
}
.jumpto-bar {
  position: fixed;
  height: 75px;
  filter: drop-shadow(0 0 0.75rem #000);
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  @media screen and (max-width: 767px) {
    position: initial;
    flex-wrap: wrap;
    height: auto;
    filter: none;
    background-color: transparent;
  }
}
.jumpto-link {
  padding: 20px;
  margin: 0 5px;
  transition: 0.125s;
  
  user-select: none;
}
.jumpto-link.active {
  background-color: #70A1D7;
  color: #fff;
}
.jumpto-link:hover {
  background-color: #70A1D7;
  color: #fff;
}
.caught {
  
}
.x {
  transition: 0.25s;
}
.active {
  opacity: 1;
}
.inactive {
  opacity: 0;
}
.filter-input {
  border: 1px solid #222;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  td,
  th {
    font-size: 0.8em;
  }
  .table-container {
    min-width: 55%;
    max-width: 100%;
  }
}
/* ListItem.vue */
.listitem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  
}
.columntext {
  cursor: initial;
  pointer-events: none;
  &.value {
    &::after {
      content: "★"
    }
  }
}
.listitem.captured {
  background-color: #A1DE93;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.column {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  &.head {
    .columntext {
      user-select: none;
      position: relative;
      .sortingArrow {
        position: absolute;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #222;
        border-right: 1px solid #222;
        right: -15px;
        top: 18%;
        transition: .125s;
        @media screen and (max-width: 767px) {
          width: 4px;
          height: 4px;
          right: -9px;
          top: 30%;
        }
        &.ascending {
          transform: rotateZ(45deg);
        }
        &.descending {
          transform: rotateZ(-135deg);
          top: 38%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 75px;
    font-size: 0.7em;
  }
}
.listitem.header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}
.data-image {
  height: 100px;
  user-select: none;
}
.caught {
  position: relative;
}
.x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  user-select: none;
  &.small {
    font-size: 1.5em;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .data-image {
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .listitem.header-row.monthfilter {
    top: 75px;
  }
}
/* GoldenTools.vue */
.button-container {
  margin-top: 95px;
}
.golden-tool {
  padding: 25px;
  width: 60%;
  background-color: rgba(247, 244, 139,.85);
  border-radius: 22px;
  margin-bottom: 35px;
  h3 {
    font-size: 1.5em;
  }
}
.tool-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.controls-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.btn {
  padding: 10px;
  width: 19px;
  background-color: #70A1D7;
  color: #F7F48B;
  font-weight: 800;
  
  user-select: none;
}
.count-input {
  text-align: center;
  font-size: 1.1em;
  width: 100px;
}
.tool-container.finished {
  position: absolute;
  top: 0;
}

.tool-container {
  &.finished {
    .golden-tool {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: rotateZ(0deg) translateX(-50%);
      animation: leftthrow 0.5s forwards;
      &:nth-child(1) {
        z-index: 5;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        z-index: 4;
        animation-delay: 1s;
      }
      &:nth-child(3) {
        z-index: 3;
        animation-delay: 2s;
      }
      &:nth-child(4) {
        z-index: 2;
        animation-delay: 3s;
      }
    }
  }
}

@keyframes leftthrow {
  0% {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: rotateZ(0deg) translateX(-50%);
  }
  5% {
    position: absolute;
    top: -50px;
    left: 45%;
    transform: rotateZ(-2.5deg) translateX(-55%);
  }
  10% {
    position: absolute;
    top: -100px;
    left: 40%;
    transform: rotateZ(-5deg) translateX(-60%);
  }
  15% {
    position: absolute;
    top: -150px;
    left: 35%;
    transform: rotateZ(-10deg) translateX(-65%);
  }
  20% {
    position: absolute;
    top: -200px;
    left: 30%;
    transform: rotateZ(-15deg) translateX(-70%);
  }
  25% {
    position: absolute;
    top: -250px;
    left: 25%;
    transform: rotateZ(-25deg) translateX(-75%);
  }
  30% {
    position: absolute;
    top: -300px;
    left: 20%;
    transform: rotateZ(-30deg) translateX(-80%);
  }
  35% {
    position: absolute;
    top: -350px;
    left: 15%;
    transform: rotateZ(-35deg) translateX(-85%);
  }
  40% {
    position: absolute;
    top: -400px;
    left: 10%;
    transform: rotateZ(-40deg) translateX(-90%);
  }
  45% {
    position: absolute;
    top: -450px;
    left: 5%;
    transform: rotateZ(-45deg) translateX(-95%);
  }
  50% {
    position: absolute;
    top: -500px;
    left: 0%;
    transform: rotateZ(-50deg) translateX(-100%);
  }
  55% {
    position: absolute;
    top: -550px;
    left: -10%;
    transform: rotateZ(-55deg) translateX(-110%);
  }
  60% {
    position: absolute;
    top: -600px;
    left: -20%;
    transform: rotateZ(-60deg) translateX(-120%);
  }
  65% {
    position: absolute;
    top: -650px;
    left: -30%;
    transform: rotateZ(-65deg) translateX(-130%);
  }
  70% {
    position: absolute;
    top: -700px;
    left: -40%;
    transform: rotateZ(-70deg) translateX(-140%);
  }
  75% {
    position: absolute;
    top: -750px;
    left: -40%;
    transform: rotateZ(-75deg) translateX(-150%);
  }
  80% {
    position: absolute;
    top: -800px;
    left: -50%;
    transform: rotateZ(-80deg) translateX(-160%);
  }
  85% {
    position: absolute;
    top: -850px;
    left: -60%;
    transform: rotateZ(-85deg) translateX(-170%);
  }
  90% {
    position: absolute;
    top: -900px;
    left: -60%;
    transform: rotateZ(-90deg) translateX(-180%);
  }
  95% {
    position: absolute;
    top: -950px;
    left: -70%;
    transform: rotateZ(-95deg) translateX(-190%);
  }
  100% {
    position: absolute;
    top: -1000px;
    left: -80%;
    transform: rotateZ(-100deg) translateX(-200%);
  }
}
/* Footer.vue */
.footer {
  margin-top: 50px;
  padding: 25px 0;
  width: 100%;
  border-top: 1px solid #222;
  font-family: "Roboto", sans-serif;
  min-height: 75px;
  background-color: rgba(247,244,139,.85);
}